.total {
    text-align: left;
}

.body {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:  left !important;
    justify-content: !important left;
    font-size: calc(10px + 2vmin);
    color: white;
}

